# Secrets & env
.env
.env.*
!.env.example
apps/functions/.env

# Dependencies
node_modules/

# Build
dist/
build/
lib/
.firebase/
*.tsbuildinfo

# OS / IDE
.DS_Store
Thumbs.db
*.log

# Firebase / GCP keys
*-firebase-adminsdk-*.json
serviceAccount*.json

abta-member-firebase-adminsdk-fbsvc-1a73213420.json